.w-md-editor-text {
  padding: 0;
}

.w-md-editor-text textarea {
  /* padding: 0; */
  position: absolute !;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  resize: none;
  background-color: red;
  border: none !important;
  outline: none !important;
}

.ql-formats button {
  position: relative;
}

.ql-formats button:hover::after,
.ql-formats button:active::after,
.ql-formats button:focus::after {
  background: #0d1e42;
  color: white;
  padding: 0.5em;
  border-radius: 0.4em;
  top: -120%;
  left: -10px;
  z-index: 999999;
  position: absolute;
  font-size: 12px;
}
